/* Font-family import: Family Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Root */
:root {
  --clr-primary-400: hsla(261, 75%, 60%, 1);
  --clr-primary-500: hsla(261, 75%, 41%, 1);
  --clr-primary-600: hsla(261, 75%, 35%, 1);

  --clr-secondary-100: hsla(210, 20%, 98%, 1);
  --clr-secondary-200: hsla(220, 14%, 96%, 1);
  --clr-secondary-300: hsla(220, 13%, 91%, 1);
  --clr-secondary-500: hsla(220, 9%, 46%, 1);

  --btn-outline-200: hsla(218, 11%, 65%, 1);
  --btn-outline-300: hsla(220, 13%, 91%, 1);
  --clr-secondary-100: hsla(210, 20%, 98%, 1);
  --clr-secondary-200: hsla(220, 14%, 96%, 1);
  --clr-secondary-300: hsla(220, 13%, 91%, 1);
  --clr-secondary-500: hsla(220, 9%, 46%, 1);

  --btn-outline-200: hsla(218, 11%, 65%, 1);
  --btn-outline-300: hsla(220, 13%, 91%, 1);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* TODO: Fix gallery classes */

/* Section & Sections */
section {
  max-width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
}

.gallery__h2 {
  text-align: center;
  color: var(--clr-primary-600);
  font-size: 5vw;
}

.gallery__h3 {
  text-align: center;
  color: var(--clr-primary-600);
  margin-bottom: 50px;
  font-size: 3vw;
}

.gallery__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  max-width: 40%;
  min-height: auto;
  border: 2px solid var(--clr-primary-600);
  background-color: var(--clr-primary-600);
  margin: 20px auto;
  align-items: center;
}

.box .description {
  padding: 10px;
  text-align: center;
  color: var(--clr-outline-300);
  font-weight: 500;
  font-size: 2vw;
}

/* TODO: Fix the button sizes */

/* Button components & variants */
button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  width: 100%;
  height: auto;
  padding: 1rem 0.5rem;

  & a {
    color: whitesmoke;
  }
}

button[variant="primary"] {
  background-color: var(--clr-primary-500);
  color: white;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: var(--clr-primary-400);
  }
}

button[variant="outline"] {
  background-color: transparent;
  border: 1px solid var(--btn-outline-200);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: var(--btn-outline-300);
  }

  & a {
    color: var(--clr-primary-500);
  }
}

button[variant="underline"] {
  background-color: transparent;
  border: none;
  color: var(--clr-primary-500);
  cursor: pointer;
  font-weight: 500;

  &::after {
    content: "";
    display: block;
    width: 32px;
    padding-top: 3px;
    margin-left: 5px;
    border-bottom: 2px solid var(--clr-primary-500);
    transition: width 250ms ease;
  }

  &:hover::after {
    width: 100px;
  }
}

button[variant="form"] {
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

/* Grid & grid templates */
.grid {
  display: grid;
}

.grid-center {
  place-items: center;
}

.grid-gap-y {
  gap: 4rem 0;
}

.grid-gap-x {
  gap: 0 8rem;
}

.grid-images {
  border-radius: 12px;
  overflow: hidden;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* header component */
.header {
  display: flex;
  justify-content: space-between;

  max-width: 1280px;
  margin: 2rem auto;
}

.header-logo {
  display: flex;
  align-items: center;

  & h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  & span {
    color: var(--clr-primary-500);
  }
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  & ul {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }

  & li:hover {
    border-bottom: 1px solid var(--clr-primary-400);
    animation: linkMoveUp 250ms ease-in-out;
    animation-fill-mode: both;
  }

  & a:hover {
    color: var(--clr-primary-500);
  }
}

.btn-box {
  display: flex;
  gap: 1rem;

  width: 250px;
  height: 50px;
}

/* Hero Section */

.section-hero {
  max-width: 1280px;
  margin: 0 auto;
}

.hero-textbox {
  display: flex;
  flex-direction: column;
  align-items: start;

  & h1 {
    font-size: 64px;
    font-weight: 700;

    width: 75%;
    line-height: 1;
  }

  & p {
    color: var(--clr-secondary-500);
    margin: 30px 0;

    width: 60%;
  }

  & span {
    color: var(--clr-primary-500);
  }
}

.container {
  margin-bottom: 3rem;
  display: flex;
  width: 100%;
}

.image-container {
  position: relative;
  left: 3rem;
  top: 3rem;
  z-index: 10;
  margin-left: -3rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #f3f4f6;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  & .md {
    left: 4rem;
    top: 4rem;
  }
}

.image-container .image-wrapper {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* Section Sponsers */
.section-sponsers {
  margin-top: 8rem;

  width: 100%;
  height: 100%;

  h2 {
    color: var(--clr-primary-500);
    font-size: 1.5rem;
    font-weight: 300;

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}

.sponsers-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  & img {
    height: auto;
    width: 100px;
    border-radius: 12px;
    overflow: hidden;
  }
}

/* Section Features */
.section-features {
  margin-top: 4rem;
  margin-bottom: 4rem;
  overflow: visible;

  & h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  & span {
    font-weight: 200;
    color: var(--clr-primary-500);
  }
}

.features-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;

  overflow-x: auto;
  margin: 0 auto;
}

.card-booking {
  display: inline-block;

  border: none;
  border-radius: 12px;
  width: 350px;
  height: 400px;
  overflow: hidden;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 9, 5);
    background: linear-gradient(
      0deg,
      rgba(0, 9, 5, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    opacity: 0;
    transition: opacity 250ms ease;
    border-radius: 12px;
  }

  &:hover::before {
    opacity: 1;
  }
}

.card-booking .card-booking__texbox {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  transform: translate(-150%, 0%);
  transition: transform 0.5s ease;

  color: white;
}

.card-booking:hover .card-booking__texbox {
  transform: translate(0%, 0%);
}

/* Section Reviews */
.section-reviews {
  margin-top: 4rem;
  margin-bottom: 4rem;

  & h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  & span {
    font-weight: 200;
    color: var(--clr-primary-500);
  }
}

.review-card {
  display: flex;
  align-items: start;
  gap: 1rem;

  & p {
    font-style: italic;
  }
}

.review-comment {
  display: flex;
  flex-direction: column;

  & span {
    color: var(--clr-secondary-500);
  }
}

/* Section newsletter */
.section-newsletter {
  margin-top: 4rem;
  margin-bottom: 4rem;

  background-color: var(--clr-primary-400);
  border-radius: 12px;
  color: var(--clr-secondary-100);
  padding: 2rem;

  & h2 {
    font-size: 2rem;
  }

  & p {
    color: var(--clr-secondary-300);
    font-style: italic;
  }
}

.newsletter-signup {
  display: flex;
  flex-direction: column;

  & label {
    font-size: 1.1rem;
    margin-left: 0.2rem;
  }

  & input {
    border-radius: 4px;
    border: none;
    padding: 0.2rem 0.5rem;
    margin-bottom: 8px;
  }
}

/* Section bookings */
.section-booking {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: var(--clr-primary-400);
  border-radius: 12px;

  & img {
    border-radius: 12px;
    box-shadow: rgba(33, 35, 38, 0.5) 10px 0px 10px -10px;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    padding: 2rem;
    height: 100%;
  }

  & h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  & p {
    color: var(--clr-secondary-200);
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1rem;
  }
}

.form-name {
  display: flex;
  justify-content: space-between;
}

.form-input {
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;

  & input,
  textarea {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
  }

  & label {
    margin-bottom: 6px;
  }
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  max-width: 1280px;
  margin: 4rem auto;
}

.footer-logo {
  display: flex;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;

  & span {
    margin-left: 0.5rem;
    color: var(--clr-primary-500);
  }
}

.footer-nav {
  font-size: 1.2rem;

  & a:hover {
    color: var(--clr-primary-500);
  }
}

.footer-para {
  font-size: 18px;
}

.footer-news {
  display: flex;
  flex-direction: column;

  & input {
    border: none;
    border-bottom: 1px solid black;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
  }

  & input:focus {
    outline: none;
  }

  & h2 {
    margin-bottom: 1rem;
  }
}
/* 
.footer-line {
  border-top: 1px solid var(--btn-outline-200);
  max-width: 1280px;
  margin: 0 auto;
} */

/* Contact page */
.section-contact-one {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/contact-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding-bottom: 125px;
}

.section-contact-one h1 {
  display: flex;
  justify-content: center;

  color: var(--clr-primary-400);
  font-size: 52px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 34px;
}

.subhero-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;
}

.contact-para {
  color: var(--clr-secondary-200);
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 1rexm;
}

.cards-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
  column-gap: 4rem;

  width: 100%;
}

.cards-conteiner a {
  color: white;
}

.card__adress,
.card__tel,
.card__email,
.card__media {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 15px;

  color: var(--clr-secondary-200);
}

.card__adress svg,
.card__tel svg,
.card__email svg,
.card__media svg {
  fill: var(--clr-primary-400);
  width: 35px;
  height: 35px;
}

.mb-space {
  margin-bottom: 125px;
}

.medier-logo {
  display: flex;
  gap: 4px;
}

.link-mail:hover,
.tel-link:hover,
.adress-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--clr-secondary-200);
}

/* form start */
.form-conteiner {
  display: flex;
  justify-content: center;

  width: 100%;
}

form {
  color: var(--clr-secondary-200);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  gap: 5px;
  position: relative;
  bottom: 30px;
}

.form-name {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 12px;
}

.form-input {
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;

  & input,
  textarea {
    color: var(--clr-secondary-200);
    background-color: black;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 2px;
  }

  & label {
    margin-bottom: 6px;
  }
}

/* TODO: Remove button classes later */

.btn-skicka {
  height: 40px;
  background-color: var(--clr-primary-400);
  color: var(--clr-secondary-200);
}

.btn-skicka:hover {
  cursor: pointer;
  background-color: var(--clr-primary-600);
  transition-duration: 0.6s;
  border: 1px solid var(--clr-primary-400);
}

/* Contact Google Maps */
.section-map {
  width: 100%;
  height: 350px;
}

/* Contact section one */
.section-contact-one {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/contact-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding-bottom: 125px;
}

.section-contact-one h1 {
  display: flex;
  justify-content: center;

  color: var(--clr-primary-400);
  font-size: 52px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 34px;
}

.subhero-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;
}

.contact-para {
  color: var(--clr-secondary-200);
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 1rexm;
}

.cards-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
  column-gap: 4rem;

  width: 100%;
}

.cards-conteiner a {
  color: white;
}

.card__adress,
.card__tel,
.card__email,
.card__media {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 15px;

  color: var(--clr-secondary-200);
}

.card__adress svg,
.card__tel svg,
.card__email svg,
.card__media svg {
  fill: var(--clr-primary-400);
  width: 35px;
  height: 35px;
}

.mb-space {
  margin-bottom: 125px;
}

.medier-logo {
  display: flex;
  gap: 4px;
}

.link-mail:hover,
.tel-link:hover,
.adress-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--clr-secondary-200);
}

/* form start */
.form-conteiner {
  display: flex;
  justify-content: center;

  width: 100%;
}

form {
  color: var(--clr-secondary-200);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  gap: 5px;
  position: relative;
  bottom: 30px;
}

.form-name {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 12px;
}

.form-input {
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;

  & input,
  textarea {
    color: var(--clr-secondary-200);
    background-color: black;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 2px;
  }

  & label {
    margin-bottom: 6px;
  }
}

.btn-skicka {
  height: 40px;
  background-color: var(--clr-primary-400);
  color: var(--clr-secondary-200);
}

.btn-skicka:hover {
  cursor: pointer;
  background-color: var(--clr-primary-600);
  transition-duration: 0.6s;
  border: 1px solid var(--clr-primary-400);
}

/* Products Style */
.main-products {
  max-width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../images/products-backg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  & h2 {
    color: white;
  }
}
.products-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.products-title {
  color: white;
  font-size: 40px;
  padding-top: 1.9rem;
}

.menu-pic {
  max-width: 20rem;
}

.breafast {
  & a:hover {
    transform: scale(2);
  }
}

/* Keyframes */
@keyframes linkMoveUp {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-2px);
  }
}

/* Keyframes */
@keyframes linkMoveUp {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-2px);
  }
}

/* ABOUT PAGE */

.about {
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(/images/back2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;

  width: 100%;
  height: 100dvh;
  text-align: center;

  & h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
    color: var(--clr-primary-500);
  }

  & p {
    color: white;
    font-size: 18px;
    margin-bottom: 24px;
  }
}

.about-infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 500px;
  height: 100%;
  margin: 0 auto;
}
