/* Font-family import: Family Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

/* Root */
:root {
  --clr-primary-400: hsla(261, 75%, 60%, 1);
  --clr-primary-500: hsla(261, 75%, 41%, 1);
  --clr-primary-600: hsla(261, 75%, 35%, 1);

  --clr-outline-200: hsla(218, 11%, 65%, 1);
  --clr-outline-300: hsla(220, 13%, 91%, 1);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Section & Sections */
section {
  max-width: 1536px;
  margin: 0 auto;
}

/* Button components & variants */
button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: auto;
}

button[variant="primary"] {
  background-color: var(--clr-primary-500);
  color: white;
  font-weight: 700;

  &:hover {
    background-color: var(--clr-primary-400);
  }
}

button[variant="outline"] {
  background-color: transparent;
  border: 1px solid var(--clr-outline-200);
  font-weight: 500;

  &:hover {
    background-color: var(--clr-outline-300);
  }
}

button[variant="underline"] {
  background-color: transparent;
  border: none;
  color: var(--clr-primary-500);
  font-weight: 500;
  text-decoration: underline;
}

/* Grid & grid templates */
.grid {
  display: grid;
}

.grid-center {
  place-items: center;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* header component */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1536px;
  margin: 2rem auto;
}

.header-logo {
  display: flex;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;

  & span {
    margin-left: 0.5rem;
    color: var(--clr-primary-500);
  }
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-nav__list {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 500;

  & a:hover {
    color: var(--clr-primary-500);
  }
}

.btn-box {
  display: flex;
  gap: 1rem;

  width: 250px;
  height: 50px;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  max-width: 1536px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;

  & span {
    margin-left: 0.5rem;
    color: var(--clr-primary-500);
  }
}

.footer-nav {
  font-size: 1.2rem;

  & a:hover {
    color: var(--clr-primary-500);
  }
}

.footer-para {
  font-size: 18px;
}

.footer-news {
  display: flex;
  flex-direction: column;

  & input {
    border: none;
    border-bottom: 1px solid black;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
  }

  & input:focus {
    outline: none;
  }

  & h2 {
    margin-bottom: 1rem;
  }
}

.footer-line {
  border-top: 1px solid var(--clr-outline-200);
  margin-bottom: 1.5rem;

  max-width: 1536px;
  margin: 0 auto;
}


/* Alens css */
.contact-parent {
  color:aquamarine;
}